body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 2px solid #40b740;
}

.backgound-image {
  height: 865px;
  background-image: url("banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.about-sign {
  height: 48px;
  text-align: right;
  margin-top: 40px;
}
.about-sign .about-us,
.about-sign .sign-in {
  text-decoration: none;
  color: black;
}
.about-sign .sign-in {
  color: #40b740;
  margin-right: 180px;
  margin-left: 34px;
  padding: 10px 20px;
  border-radius: 20px;
}

.logo {
  text-align: center;
  height: 240;
}
.logo .img-logo {
  margin-top: 120px;
}

.icon {
  height: 100;
  width: 100%;
  display: block;
}
.icon .icon-gift, .icon .icon-clock, .icon .icon-like {
  display: inline-block;
  width: 33%;
  text-align: center;
}
.icon span {
  display: block;
  font-size: 28px;
}
.icon .icon-gift {
  margin-left: 210px;
  margin-right: -200px;
}
.icon .icon-clock {
  margin-right: -219px;
}
